@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------- Section First ----------*/

nav.navbar.secondary-menu.navbar-expand-lg.position-absolute {
  margin-top: -2.4rem;
}

/* Layout */
.asdu-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
}

/* Left title */
.asdu-title h1 {
  font-size: 3.4rem;
  line-height: 1.2;
  font-weight: 800;
  padding-top: 9rem;
  margin-left: -10rem;
  color: #f4a940;
}

.asdu-title span {
  font-weight: 600;
}

/* Right text */
.asdu-description {
  max-width: 55%;
  margin-right: -12rem;
  margin-top: 7rem;
}

.asdu-description p {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #444;
}

/* Responsive */
@media (max-width: 900px) {
  .asdu-header {
    flex-direction: column;
    padding: 2rem;
  }

  .asdu-title h1 {
    font-size: 2rem;
  }

  .asdu-description {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .asdu-title h1 {
    font-size: 1.7rem;
  }

  .asdu-description p {
    font-size: 0.9rem;
  }
}

/*---------- Section Second ----------*/

.asdu-section {
  padding: 0rem 2rem;
}

.asdu-container {
  max-width: 90%;
  margin: auto;
  background: #ffffff;
  padding: 2rem;
}

/* IMAGE */
.asdu-image img {
  width: 100%;
  height: auto;
  display: block;
}

/*
@media (max-width: 37.5em) {
  .asdu-boxes {
    grid-template-columns: 1fr;
  }

  .box {
    border-right: none;
    border-bottom: 0.1rem dotted #1e90ff;
  }

  .box:last-child {
    border-bottom: none;
  }
}

@media (max-width: 48em) {
  .asdu-boxes {
    grid-template-columns: repeat(2, 1fr);
  }

  .box:nth-child(2),
  .box:nth-child(4) {
    border-right: none;
  }
}*/

@media (min-width: 62em) {
  .asdu-container {
    max-width: 85%;
  }
}

@media (min-width: 75em) {
  .asdu-container {
    max-width: 100%;
  }
}

/*---------- Section Third ----------*/

/* SECTION */
.asdu1-section {
  padding: 0rem 2rem;
}

.asdu-wrapper {
  max-width: 90%;
  margin: auto;
}

/* TOP TEXT */
.asdu-top {
  background: #eeeeee;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
}

.asdu-top p {
  font-size: 1.5rem;
  line-height: 1.7;
  color: #7a7a7a;
  text-align: center;
}

.asdu-top strong {
  color: #3a3939;
}

/* CARDS */
.asdu-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: -1rem;
}

.card {
  background: #ffffff;
  padding: 1.2rem;
  border-bottom: 0.5rem solid #6a1bb1;
}

.card h2 {
  font-size: 2.8rem;
  color: #d9a441;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: 800;
}

.card p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555555;
  text-align: center;
}
