@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------- Section First ----------*/
/* HERO */

.colradio-hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2.1vw;

  overflow: hidden;
}

/* DIAGONAL SHAPE */

.shape {
  position: absolute;
  top: 0;
  left: 34%;
  width: 50%;
  height: 900px;
  background: #f1edf3;
  clip-path: polygon(45% 0%, 100% 0%, 50% 90%, 0% 90%);
  z-index: 1;
}

/* CONTENT */

.col-hero-content {
  max-width: 40rem;
  z-index: 2;
  margin-left: 6rem;
}

.colradio-hero h1 {
  font-size: 8rem;
  color: #444;
  width: 109%;
  font-weight: 800;
  margin-left: -3rem;
}

.col-tagline {
  font-size: 1rem;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
  margin-left: -2rem;
  width: 95%;
  font-weight: 500;
}

.col-desc {
  margin-bottom: 2rem;
  margin-top: 10rem;
  color: #555;
  font-size: 1.2rem;
  margin-left: -2rem;
  width: 80%;
}

.col-desc strong {
  font-weight: 800;
}

/* BUTTON */

.btn-wrap {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-family: sans-serif;
}

/* BLACK CIRCLE */

.btn-icon {
  width: 2.2rem;
  height: 2.2rem;
  background: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  margin-left: 1rem;
  z-index: 2;
  transform: rotate(-45deg);
}

/* PURPLE BUTTON */

.btn-text {
  background: #5c0a7a;
  color: #fff;
  padding: 0.7rem 2.2rem;
  border-radius: 2rem;
  font-size: 1rem;
}

/* IMAGE */

.col-hero-image img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  right: -2rem;
}

/* WHO SECTION */

.who {
  padding: 0rem 4rem;
  margin-left: 3rem;
}

.who h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  color: #000;
  font-weight: 700;
}

.who p {
  max-width: 50rem;
  color: #555;
  font-size: 1.1rem;
}

/* ======================= */
/* RESPONSIVE */
/* ======================= */

/* ≤768px */
/*
@media (max-width: 48em) {
  .colradio-hero {
    flex-direction: column;
    text-align: center;
  }

  .col-hero-image {
    margin-top: 3rem;
  }

  .shape {
    right: 0;
    width: 60vw;
  }
}*/

@media (min-width: 1200px) {
  .colradio-hero h1 {
    margin-top: 6rem;
  }
  .col-hero-image {
    margin-top: -8rem;
  }
  .who {
    margin-top: 5rem;
  }
  .btn-wrap {
    margin-bottom: 3rem;
  }
  .col-desc {
    margin-top: 6rem;
  }
}

/*---------- Section Second ----------*/

/* SECTION */

.audience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 6vw;
}

/* GRID */

.audience-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  max-width: 80rem;
}

/* CARD */

.audience-card {
  width: 100%;
  border: none;
}

.num {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #e9e2f0;
  color: #5c0a7a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.audience-card h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.audience-card p {
  font-size: 1.2rem;
  color: #555;
  margin-top: 0.5rem;
}

/* SIDE ARROW BLOCK */

.side-arrow {
  width: 6rem;
  height: 12rem;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ARROW CSS */

.arrow {
  font-size: 5rem;
  width: 0.8rem;
  height: 0.8rem;
  color: white;
  transform: rotate(-45deg);
}

/* RESPONSIVE */

/* ≤768px */
/*
@media (max-width: 48em) {
  .audience {
    flex-direction: column;
    align-items: flex-start;
  }

  .audience-grid {
    grid-template-columns: 1fr;
  }

  .side-arrow {
    margin-top: 2rem;
    width: 100%;
    height: 4rem;
  }
}*/

@media (min-width: 992px) {
  .audience-grid {
    max-width: 90%;
    gap: 3rem;
  }
  .side-arrow {
    width: 10rem;
  }
}

@media (min-width: 1200px) {
  .side-arrow {
    width: 10rem;
  }
  .audience-grid {
    max-width: 80%;
  }
}

/*---------- Section Third ----------*/

/* SECTION */

.highlights {
  display: flex;
  padding: 3rem 6vw;
  text-align: center;
}

/* LEFT */

.left {
  max-width: 20%;
  margin-top: 5rem;
}

.label {
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  position: relative;
}

.label::after {
  content: "";
  display: block;
  width: 4rem;
  height: 0.2rem;
  background: #c40000;
  margin-top: 0.4rem;
  margin-left: 8rem;
}

.left h2 {
  margin-top: 1.5rem;
  font-size: 2rem;
}

.left h2 span {
  color: #5c0a7a;
}

.desc {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #555;
}

.see-more {
  display: inline-block;
  margin-top: 2rem;
  text-decoration: none;
  color: #333;
  border-bottom: 0.2rem solid #d19c2a;
  padding-bottom: 0.2rem;
}

/* DIVIDER */

.divider {
  width: 0.1rem;
  background: #ccc;
  margin: 0 3rem;
}

/* RIGHT */

.right {
  flex: 1;
  width: 80%;
}

/* CARDS */
/*
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}*/

.cards {
  display: flex;
  gap: 1.5rem;
  scroll-behavior: smooth;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.cards::-webkit-scrollbar {
  height: 0.4rem;
  display: none;
}

.cards::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 1rem;
}

.card {
  background: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.08);
}
.card {
  flex-shrink: 0;
}

.img {
  position: relative;
  width: 100%;
  height: 100%;
}

.img img {
  display: block;
  width: 100%;
  height: 100%;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background: #ff3b30;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.play::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  border-left: 0.6rem solid #fff;
  border-top: 0.4rem solid transparent;
  border-bottom: 0.4rem solid transparent;
}

.card h3 {
  padding: 1rem;
  font-size: 1.1rem;
  text-align: start;
  text-decoration: underline;
  width: 70%;
}

.tag {
  padding: 0 1rem;
  font-size: 0.7rem;
  color: #777;
  text-align: start;
  text-decoration: underline;
  margin-top: -0, 5rem;
}

.date {
  padding: 1rem;
  font-size: 0.8rem;
  color: #c40000;
  text-align: start;
}

/* NAV */

.nav {
  margin-top: 1.5rem;
}

.nav-btn-left {
  border-radius: 50%;
  border: 0.1rem solid #ccc;
  display: inline-block;
  margin-right: 0.5rem;
}

/* RESPONSIVE */

/* ≤768px */

@media (max-width: 48em) {
  .highlights {
    flex-direction: column;
  }

  .divider {
    display: none;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 992px) {
  .label::after {
    margin-left: 4rem;
  }
  .right {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .label::after {
    margin-left: 4rem;
  }
  .right {
    width: 70%;
  }
}
