@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------- Section First ----------*/
.event-hero-img {
  width: 100%;
}
h2 {
  margin-left: 13rem;
  font-size: 7rem;
  margin-top: -9rem;
  color: white;
  font-weight: 800;
}
h2 strong {
  color: #deb04c;
}

@media (max-width: 600px) {
  button.navbar-toggler.d-lg-none {
    display: none;
  }
  .d-flex.my-2.my-lg-0.align-items-center.justify-content-end.right-brand {
    margin-right: 0rem;
  }
  .event-hero-img {
    height: 15rem;
  }
  h2 {
    font-size: 1.7rem;
    margin-left: 1rem;
    margin-top: -2.2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 3rem;
    margin-left: 4rem;
    margin-top: -3.7rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  nav.navbar.secondary-menu.navbar-expand-lg.position-absolute {
    margin-right: -9rem;
    margin-top: -1rem;
  }
  h2 {
    font-size: 5rem;
    margin-left: 4rem;
    margin-top: -6.5rem;
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  h2 {
    font-size: 5rem;
    margin-left: 9rem;
    margin-top: -6.5rem;
  }

  nav.navbar.secondary-menu.navbar-expand-lg.position-absolute {
    margin-right: -10rem;
    margin-top: -1rem;
  }
}

/*---------- Section Second ----------*/

/* SECTION */
.etm-section {
  padding: 4rem 0;
  background: #f2f2f2;
}

.etm-container {
  width: 90%;
  max-width: 75rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

/* IMAGE SECTION */
.image-wrapper {
  position: relative;
  width: 50%;
  min-height: 25rem;
}

.img-box {
  position: absolute;
  overflow: hidden;
  border-radius: 0.5rem;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Left Large Image */
.img-left {
  width: 70%;
  height: 28rem;
  left: 0;
  top: 0;
}

/* Right Smaller Image */
.img-right {
  width: 60%;
  height: 24rem;
  right: 0;
  bottom: -3rem;
}

/* CONTENT */
.content {
  width: 50%;
}

.content h2 {
  font-size: 2rem;
  margin: auto;
  font-weight: 700;
  color: #000;
}

.content h2 span {
  color: #4f0071;
  text-decoration: underline;
}

.content p {
  line-height: 1.6;
  color: #555;
  font-size: 1.3rem;
  margin-bottom: -4rem;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .etm-container {
    flex-direction: column;
    text-align: center;
    gap: 0rem;
    margin-bottom: 2rem;
  }

  .image-wrapper {
    width: 100%;
    min-height: 22rem;
  }

  .img-left,
  .img-right {
    position: relative;
    width: 100%;
    height: 18rem;
    bottom: 0;
  }

  .img-right {
    margin-top: 1rem;
  }

  .content {
    width: 100%;
    margin-top: 2rem;
  }
}

@media (min-width: 768px) {
  .container {
    gap: 2rem;
  }

  .content h2 {
    font-size: 1.6rem;
  }
  .etm-container {
    gap: 0;
  }
}

@media (min-width: 992px) {
  .img-left {
    height: 24rem;
  }

  .img-right {
    height: 20rem;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 95%;
  }
}

/*---------- Section Third ----------*/
.benefit-section {
  padding: 2rem 0;
}

.benefit-container {
  width: 90%;
  max-width: 75rem;
  margin: auto;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}

.left-heading h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
  color: black;
  margin-top: 0rem;
  margin-left: -9rem;
}

.left-heading span {
  color: #deb04c;
}

.right-text {
  width: 62%;
  margin-right: -15rem;
}

.right-text p {
  color: #444;
  font-size: 1.3rem;
  line-height: 1.6;
}

/* Purple Line */
.divider {
  height: 0.3rem;
  width: 140%;
  background: #4f0071;
  margin: 2rem 0 3rem 0;
  margin-left: -14.5rem;
}

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 3rem;
  margin-left: -12rem;
  margin-right: -15rem;
}

.benefit-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  background: #c58a1e;
  color: #fff;
  border-radius: 50%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-weight: bold;
  flex-shrink: 0;
}

.benefit-item p {
  color: #333;
  line-height: 1.6;
  font-size: 1.3rem;
}

/* ================== RESPONSIVE ================== */

/* 📱 PHONES (600px) */
@media (max-width: 37.5em) {
  .top-row {
    flex-direction: column;
    gap: 1rem;
  }
  .benefits-grid {
    grid-template-columns: 1fr;
  }
  .benefit-container {
    max-width: 100%;
  }
  .left-heading h2 {
    margin-left: 3rem;
    font-size: 2rem;
  }
  .right-text {
    margin-right: 0rem;
    width: 100%;
    text-align: center;
  }
  .divider {
    width: 100%;
    margin-left: 0.5rem;
  }
  .benefits-grid {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* 📲 TABLETS (768px) */
@media (min-width: 768px) {
  .benefit-container {
    max-width: 100%;
  }
  .left-heading h2 {
    margin-left: 0rem;
  }
  .right-text {
    margin-right: 0rem;
    width: 50%;
  }
  .divider {
    width: 100%;
    margin-left: 0.5rem;
  }
  .benefits-grid {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* 💻 LAPTOPS (992px) */
@media (min-width: 992px) {
  .benefit-container {
    max-width: 100%;
  }
  .left-heading h2 {
    margin-left: 0rem;
  }
  .right-text {
    margin-right: 0rem;
    width: 50%;
  }
  .divider {
    width: 100%;
    margin-left: 0.5rem;
  }
  .benefits-grid {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* 🖥 LARGE (1200px) */
@media (min-width: 1200px) {
  .benefit-container {
    max-width: 100%;
  }
  .left-heading h2 {
    margin-left: 0rem;
  }
  .right-text {
    margin-right: 0rem;
    width: 50%;
  }
  .divider {
    width: 100%;
    margin-left: 0.5rem;
  }
  .benefits-grid {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/*---------- Section Fourth ----------*/

/* SECTION */
.produce-section {
  background: #f5f5f5;
  padding: 2rem 0;
}

.produce-container {
  width: 90%;
  max-width: 90%;
  margin: auto;
  margin-top: 8rem;
}

/* TITLE */
.section-title1 {
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #333333cc;
  border-bottom: 0.1rem solid #ccc;
  padding-bottom: 0.5rem;
  margin-left: 0rem;
}

/* GRID */
.card-grids {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

/* CARD */
.produce-card {
  position: relative;
  overflow: hidden;
  border-radius: 0.3rem;
}

.produce-card img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  display: block;
}

/* OVERLAY TEXT */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.overlay p {
  color: #fff;
  font-size: 1.7rem;
  line-height: 1.4;
  margin-top: 13rem;
}

/* ================= RESPONSIVE ================= */

/* 📱 PHONES (600px) */
@media (max-width: 600px) {
  .card-grids {
    grid-template-columns: 1fr;
  }
  .produce-container {
    margin-top: 2rem;
  }
  .produce-card img {
    height: 16rem;
  }
  .overlay p {
    margin-top: 7rem;
  }
}

/* 📲 TABLETS (768px) */
@media (min-width: 768px) {
  .card-grids {
    grid-template-columns: repeat(2, 1fr);
  }
  .overlay p {
    margin-top: 11rem;
  }
}

/* 💻 LAPTOPS (992px) */
@media (min-width: 992px) {
  .card-grids {
    grid-template-columns: repeat(4, 1fr);
  }
  .overlay p {
    margin-top: 9rem;
  }
}

/* 🖥 LARGE (1200px) */
@media (min-width: 1200px) {
  .produce-container {
    width: 95%;
  }
  .overlay p {
    margin-top: 9rem;
  }
  .card-grids {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*---------- Section Fifth ----------*/

.facility-section {
  padding: 1rem 0;
}

.facility-container {
  width: 90%;
  max-width: 75rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

/* LEFT CONTENT */
.left-content {
  width: 40%;
}

.left-content h4 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #555;
  font-weight: 700;
}

.underline {
  width: 29.5rem;
  height: 0.2rem;
  background: #2ca6a4;
  margin: 1rem 0;
}

.left-content p {
  line-height: 1.6;
  color: #444;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.btn {
  display: inline-block;
  background: #4f0071;
  color: #fff;
  padding: 0.8rem 8.5rem;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  border-bottom: none;
}

.img-item img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* ================= RESPONSIVE ================= */

/* 📱 PHONES (600px) */
@media (max-width: 37.5em) {
  .facility-container {
    flex-direction: column;
    gap: 0rem;
  }

  .left-content {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }
  .left-content h4 {
    font-size: 1.3rem;
  }
  .img-item img {
    width: 100%;
  }
  .btn {
    padding: 0.8rem 3.5rem;
  }
}

/* 📲 TABLETS (768px) */
@media (min-width: 768px) {
  .facility-container {
    gap: 2rem;
  }
  .underline {
    width: 100%;
  }
  .left-content h4 {
    font-size: 1.3rem;
    margin-left: 0rem;
  }
  .left-content {
    width: 50%;
  }
  .btn {
    padding: 0.8rem 4rem;
  }
}

/* 💻 LAPTOPS (992px) */
@media (min-width: 992px) {
  .facility-container {
    width: 95%;
  }
  .left-content {
    width: 50%;
  }
}

/* 🖥 LARGE (1200px) */
@media (min-width: 1200px) {
  .facility-container {
    max-width: 68rem;
  }
  .left-content {
    width: 50%;
  }
  .left-content h4 {
    font-size: 1.5rem;
  }
  .underline {
    width: 100%;
  }
  .btn {
    font-size: 1.4rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
