@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========== Section First =========== */
.library-hero {
  position: relative;
  min-height: 80vh;
  background-image: url("../images/lib-hero-img.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-inline: 6%;
}

/* content */
.hero-content {
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  color: #ffffff;
  font-size: 8rem;
  font-weight: 700;
  position: relative;
  padding-inline-start: 1rem;
}

/* ---------- BREAKPOINTS ---------- */
/* 1024px */
@media (max-width: 64em) {
  .secondary-menu .navbar-toggler {
    margin-top: -2.1rem;
    margin-right: -2rem;
  }
  .d-flex.align-items-start.justify-content-between.border-cs {
    margin-right: -3rem;
    margin-left: -1rem;
  }
}

/* 768px */
@media (max-width: 48em) {
  .d-flex.align-items-start.justify-content-between.border-cs {
    margin-right: 0rem;
    margin-left: -1rem;
  }
  .secondary-menu .navbar-toggler {
    margin-top: -3.1rem;
  }
}

/* 368px */
@media (max-width: 430px) {
  .d-flex.align-items-start.justify-content-between.border-cs {
    margin-left: -2rem;
  }
  .secondary-menu .navbar-toggler {
    margin-top: 4.5rem;
    margin-right: 1rem;
  }
  .hero-content h1 {
    font-size: 6rem;
    margin-left: -3.5rem;
  }
}

/* ========== Section Sidebar =========== */

/* LAYOUT */

.layout {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */

.page-with-sidebar {
  display: flex;
  position: relative;
}

/* SIDEBAR */

.sidebar1 {
  width: 20%;
  position: sticky;
  top: 0;
  height: 100vh;
  background: #f3f1f5;
}

.sidebar-inner {
  padding: 5rem 2rem;
}

.sidebar-inner a:hover {
  background: #e6e1ea;
  padding: 1rem;
  border-right: 0.3rem solid #4f0071;
  font-weight: bold;
  margin-bottom: 2rem;
}

.sidebar1 nav a {
  display: block;
  margin-bottom: 1.2rem;
  color: #666;
  text-decoration: none;
  font-size: 1.5rem;
  width: 100%;
  text-align: end;
}

/* ========== Section Second =========== */

/* CONTENT */

.content {
  width: 82%;
  height: 100vh;
  overflow-y: auto;
  padding: 3rem;
}

/* SECTION */
.study-section {
  padding-top: 4rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  margin-left: -5rem;
  margin-top: -5rem;
}

.study-container {
  max-width: 75rem;
  height: 47rem;
  margin: auto;
  display: flex;
  gap: 4rem;
}

/* LEFT SIDE */
.study-left {
  flex: 1;
}

.small-title {
  color: #d6a14a;
  font-size: 2.8rem;
  font-weight: 800;
}

.main-title {
  font-size: 2.6rem;
  font-weight: 600;
  margin: 0.5rem 0 1.5rem;
}

.desc {
  font-size: 1.5rem;
  line-height: 1.6;
  max-width: 35rem;
}

.image-box {
  margin-top: 2rem;
}

.image-box img {
  width: 90%;
  display: block;
}

/* RIGHT SIDE */
.study-right {
  flex: 1;
  padding-top: 0.5rem;
}

.campus-item {
  border-bottom: 0.1rem solid #e5e5e5;
  padding: 2rem 0;
}

/* HEADER */
.campus-header {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

.campus-count {
  color: #bdbdbd;
  font-weight: 600;
  font-size: 1.6rem;
}
.campus-content:hover {
  border-left: 0.3rem solid #d6a14a;
}

.campus-title {
  font-weight: 700;
  color: #4f0071;
  font-size: 1.8rem;
  margin-right: auto;
}

.campus-arrow {
  font-size: 1.6rem;
  color: #4f0071;
  transition: transform 0.3s ease;
}

/* CONTENT (hidden by default) */
.campus-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding-left: 3rem;
}
.campus-content {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding-left: 3rem;
}

/* TEXT */
.campus-content p {
  flex: 1;
  font-size: 1.1rem;
  padding-top: 1.5rem;
  width: 35rem;
}
.campus-content img {
  flex: 1;
  max-width: 100%;
  margin-top: 1rem;
  border-bottom: 0.2rem solid #1bb3a9;
}

/* ACTIVE STATE */
.campus-item.active .campus-content {
  max-height: 40rem;
}

.campus-item.active .campus-arrow {
  transform: rotate(180deg);
}

/* ========================= */
/* 📱 PHONES ≤600px */
@media (max-width: 37.5em) {
  .study-container {
    flex-direction: column;
  }

  .campus-item {
    flex-direction: column;
  }

  .campus-content img {
    width: 100%;
    margin-top: 1rem;
  }
  .campus-content {
    flex-direction: column;
    padding-left: 0;
  }
}

/* 📱 TABLETS ≤768px */
@media (max-width: 48em) {
  .main-title {
    font-size: 2.2rem;
  }
}

/* 💻 LAPTOPS ≤992px */
@media (max-width: 62em) {
  .study-container {
    gap: 2.5rem;
  }
}

/* 🖥 LARGE ≥1200px */
@media (min-width: 75em) {
  .study-container {
    max-width: 80rem;
  }
}

/* ========== Section Third =========== */
.rules-section {
  width: 80%;
  padding: 0rem 0rem;
  background: #fff;
  margin-left: 17.5rem;
  margin-top: 2rem;
}

.rules-wrapper {
  max-width: 90rem;
  margin: auto;
}

/* IMAGE */
.rules-image {
  position: relative;
  border: 0.2rem solid #1bb3a9;
  width: 80%;
}

.rules-image img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

/* animation state */
.rules-image img.fade-out {
  opacity: 0;
  transform: scale(1.03);
}

/* ARROWS */
.slider-arrows {
  position: absolute;
  right: 1.5rem;
  bottom: -5.5rem;
  display: flex;
  gap: 0.8rem;
}
.slider-arrows button {
  width: 3rem;
  height: 3rem;
  background: #4f0071;
  color: #fff;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
}

/* CONTENT */
.rules-content {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 1.5rem;
}

/* LEFT TITLE */
.rules-title span {
  font-size: 2rem;
  color: #d99a3c;
  font-weight: 600;
  display: block;
}

.rules-title h2 {
  font-size: 3rem;
  font-weight: 700;
}

/* RIGHT TEXT */
.rules-text {
  margin-right: 25rem;
}

.rules-text h4 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.rules-text p {
  font-size: 1.4rem;
  line-height: 1.7;
  font-weight: 400;
  max-width: 33rem;
}

/* ------------------ RESPONSIVE ------------------ */

/* PHONES */
@media (max-width: 37.5em) {
  .rules-content {
    flex-direction: column;
  }

  .rules-text p {
    max-width: 100%;
  }

  .slider-arrows {
    right: 1rem;
    bottom: 1rem;
  }
}

/* TABLETS */
@media (max-width: 48em) {
  .rules-content {
    gap: 2rem;
  }
}

/* LAPTOPS */
@media (max-width: 62em) {
  .rules-wrapper {
    max-width: 85rem;
  }
}

/* LARGE */
@media (min-width: 75em) {
  .rules-wrapper {
    max-width: 100rem;
  }
}

/* ========== Section Fourth =========== */
.membership-section {
  background: #4f0071;
  padding: 3rem 2rem;
  color: #ffffff;
  margin-top: 2rem;
}

.membership-container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

/* LEFT */
.membership-left {
  width: 22%;
  margin-top: 7rem;
  margin-bottom: -7rem;
  margin-left: -7rem;
}

.membership-left h2 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3;
}

.membership-left span {
  color: rgba(222, 176, 76, 1);
}

/* DIVIDER */
.divider {
  width: 0.1rem;
  height: 15rem;
  background: rgba(255, 255, 255, 0.4);
}

/* MIDDLE */
.membership-middle {
  width: 38%;
  margin-top: -6rem;
}

.membership-middle h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.membership-middle p {
  font-size: 1.3rem;
  line-height: 1.6;
  opacity: 0.9;
  font-weight: 300;
  color: #f5f5f5;
}

/* RIGHT */
.membership-right {
  width: 40%;
  padding-left: 6rem;
  margin-bottom: -4rem;
}

.membership-right p {
  font-size: 1.3rem;
  line-height: 1.6;
  opacity: 0.9;
  font-weight: 300;
  color: #f5f5f5;
}
@media (max-width: 37.5em) /*(≤ 600px) */ {
  .membership-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .membership-left,
  .membership-middle,
  .membership-right {
    width: 100%;
  }

  .divider {
    width: 100%;
    height: 0.1rem;
  }
}
@media (max-width: 48em) /*(≤ 768px) */ {
  .membership-container {
    flex-wrap: wrap;
  }

  .membership-left {
    width: 100%;
  }

  .membership-middle,
  .membership-right {
    width: 48%;
  }

  .divider {
    display: none;
  }
}
@media (min-width: 62em) /*(≥ 992px) */ {
  .membership-container {
    max-width: 90%;
    margin: auto;
  }
}
@media (min-width: 75em) /*(≥ 1200px) */ {
  .membership-container {
    max-width: 80%;
  }
}

/* ========== Section Fifth =========== */

/* SECTION */

.loan-section {
  padding: 4rem 5rem;
  background: #f4f3f5;
  margin-top: 4rem;
}

/* HEADER */

.loan-header {
  display: flex;
  justify-content: space-between;
  gap: 4%;
  margin-bottom: 3rem;
}

.loan-header h2 {
  color: #4f0071;
  font-size: 2.5rem;
}

.loan-header p {
  max-width: 40rem;
  line-height: 1.6;
  color: #333;
  font-size: 1.3rem;
}

/* LIST */

.loan-list {
  max-width: 75rem;
}

/* ITEM */

.loan-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem 0;
}

.loan-item p {
  line-height: 1.6;
  color: #444;
  font-size: 1.1rem;
}

.loan-item strong {
  font-size: 1.3rem;
}

/* ICON */

.loan-icon {
  width: 1.7rem;
  height: 1.7rem;
  background: #d7a441;
  border-radius: 50%;
  position: relative;
  flex-shrink: 0;
  bottom: 0.3rem;
}

.loan-icon::after {
  content: ">";
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* DIVIDER */

.loan-divider {
  height: 0.18rem;
  background: #4f0071;
  width: 100%;
}

/* ======================== */
/* RESPONSIVE */
/* ======================== */

/* 1366 */

@media (max-width: 85.375rem) {
  .loan-header {
    flex-direction: column;
  }

  .loan-header p {
    max-width: 100%;
  }
}

/* 1024 */

@media (max-width: 64rem) {
  .loan-section {
    padding: 3rem 5%;
  }
}

/* 768 */

@media (max-width: 48rem) {
  .loan-header h2 {
    font-size: 1.6rem;
  }

  .loan-item {
    align-items: flex-start;
  }
}

/* 368 */

@media (max-width: 23rem) {
  .loan-section {
    padding: 2rem 4%;
  }

  .loan-header h2 {
    font-size: 1.3rem;
  }

  .loan-item p {
    font-size: 0.9rem;
  }
}

/* ========== Section Sixth =========== */

/* SECTION */

.guidelines {
  padding: 3rem 4rem;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #111;
}

/* WRAPPER */

.guidelines-wrapper {
  display: flex;
  gap: 4%;
  background: #e7e4ea;
  padding: 2rem;
}

/* IMAGE */

.guidelines-image {
  width: 45%;
}

.guidelines-image img {
  width: 100%;
  display: block;
  border-radius: 0.4rem;
}

/* CONTENT */

.guidelines-content {
  width: 55%;
}

/* ACCORDION */

.accordion {
  padding: 1rem 0;
}

.accordion span {
  border-bottom: 0.12rem solid #c69a34;
}

/* REMOVE DEFAULT ARROW */

.accordion summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion summary::-webkit-details-marker {
  display: none;
}

/* TITLE */

.accordion summary span:first-child {
  font-size: 1.4rem;
  color: #4f0071;
  font-weight: 600;
}

/* ICON */

.icon {
  width: 1rem;
  height: 1rem;
  border-right: 0.15rem solid #4f0071;
  border-bottom: 0.15rem solid #4f0071;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

/* ROTATE WHEN OPEN */

details[open] .icon {
  transform: rotate(-135deg);
}

/* CONTENT */

.accordion p {
  margin-top: 1rem;
  line-height: 1.7;
  color: #444;
}

/* ===================== */
/* RESPONSIVE */
/* ===================== */

/* 1366 */

@media (max-width: 85.375rem) {
  .guidelines-wrapper {
    flex-direction: column;
  }

  .guidelines-image,
  .guidelines-content {
    width: 100%;
  }
}

/* 1024 */

@media (max-width: 64rem) {
  .guidelines {
    padding: 3rem 5%;
  }
}

/* 768 */

@media (max-width: 48rem) {
  .section-title {
    font-size: 1.6rem;
  }

  .accordion-header h3 {
    font-size: 1.2rem;
  }
}

/* 368 */

@media (max-width: 23rem) {
  .guidelines {
    padding: 2rem 4%;
  }

  .section-title {
    font-size: 1.3rem;
  }

  .accordion-body {
    font-size: 0.9rem;
  }
}

/* ========== Section Seventh =========== */

/* SECTION */

.hours-section {
  padding: 2rem 6rem;
}

.section-title {
  color: #4f0071;
  font-size: 3rem;
  margin-bottom: 2rem;
}

/* WRAPPER */

.hours-wrapper {
  display: flex;
  gap: 1.5rem;
}

/* CARD BASE */

.card {
  padding: 2rem;
  width: 50%;
}

/* LEFT */

.purple-card {
  background: #4f0071;
  color: white;
}

.purple-card h3 {
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

.purple-card p {
  line-height: 1.6;
  color: #f5f5f5;
  font-size: 1.2rem;
  font-weight: 300;
}

/* RIGHT */

.bordered-card {
  border: 0.12rem solid #4f0071;
  background: white;
}

.bordered-card h3 {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #111;
}

.bordered-card p {
  line-height: 1.6;
  color: #444;
  font-size: 1.2rem;
  font-weight: 400;
}

/* ===================== */
/* RESPONSIVE */
/* ===================== */

/* 1366 */

@media (max-width: 85.375rem) {
  .hours-wrapper {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
}

/* 1024 */

@media (max-width: 64rem) {
  .hours-section {
    padding: 3rem 5%;
  }
}

/* 768 */

@media (max-width: 48rem) {
  .section-title {
    font-size: 1.6rem;
  }

  .card {
    padding: 1.6rem;
  }
}

/* 368 */

@media (max-width: 23rem) {
  .hours-section {
    padding: 2rem 4%;
  }

  .section-title {
    font-size: 1.3rem;
  }

  .card h3 {
    font-size: 1.1rem;
  }

  .card p {
    font-size: 0.9rem;
  }
}

/* ========== Section Eighth =========== */

/* SECTION */

.resources-section {
  padding: 3rem 4rem;
}

/* BANNER */

.banner {
  background: #21a696;
  color: white;
  border-radius: 0 2rem 2rem 0;
  padding: 1.4rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.banner-strip {
  width: 0.8rem;
  height: 4rem;
  background: #0d6f66;
}

.banner h2 {
  font-size: 2rem;
}

/* CARD */
.wrapper {
  width: 100%;
  max-width: 80rem;
  position: relative;
  margin-top: 2rem;
  background: linear-gradient(to right, #e5e2e8 50%, #dcd8df 50%);
  padding: 3rem;
  border-radius: 1.6rem;
}

.content-box {
  border: 0.08rem solid #4f0071;
  border-radius: 2rem;
  padding: 3rem;
}

.title {
  font-size: 2.2rem;
  color: #4f0071;
  margin-bottom: 1.5rem;
}

.text {
  font-size: 1.05rem;
  line-height: 1.8;
  color: #333;
  min-height: 8rem;
  width: 80%;
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
}

.fade-out {
  opacity: 0;
  transform: translateY(1rem);
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* ================== BUTTONS ================== */

.buttons {
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 1rem;
}

.btn {
  border-bottom: none;
  border: none;
  margin-left: -5rem;
}

/* Responsive */

@media (max-width: 1024px) {
  .wrapper {
    padding: 3rem;
  }
}

@media (max-width: 768px) {
  .buttons {
    position: static;
    transform: none;
    margin-top: 2rem;
    justify-content: center;
  }
}

@media (max-width: 368px) {
  .title {
    font-size: 1.5rem;
  }
  .text {
    font-size: 0.9rem;
  }
  .btn {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.1rem;
  }
}
