@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


html {
    scroll-behavior: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Noto Serif", serif;

}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

.bg-primary {
    background-color: #4f0071 !important;
    background: #4f0071 !important;
}

.nav-brand img {
    width: 140px;
    position: absolute;
    z-index: 100;
}

.nav-search {
    padding: 10px 10px;
    display: flex;
    background: #4f0071;
    color: #fff;
}


.right-brand img {
    margin-left: 5px;
}

.right-brand span {
    font-weight: 600;
}

.right-brand .logo-icon {
    width: 150px;
}

.border-cs {
    border-top: solid 1px #4f0071;
}

.hero .secondary-menu {
    z-index: 200;
    right: 18%;
    top: -5%;
}

/* Carousel */

.carousel-control-next img,
.carousel-control-prev img {
    width: 30%;
}

.carousel-caption {
    text-align: center;
    top: 45%;
    z-index: 100;
    margin-right: 30%;

}

.carousel-caption h5,
p {
    color: #fff;
    text-align: right;
}

.carousel-caption h5 {
    font-size: 50px;
    font-weight: 500;
}

.carousel-caption p {
    font-size: 14;
    font-weight: 400;
}

.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0));
    z-index: 1;
}

.carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 0 6px;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #ff7a00;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: rgb(137, 100, 33);
    width: 15px;
    height: 15px;
}
.btn {
    padding: 3px 40px;
    margin-left: 100px;
}
.underline-btn {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  padding-bottom: 6px;
}

.underline-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200px;              /* underline length */
  height: 2px;
  background-color: #f5c400;
  margin-left: -50px;
}


/* Button */
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #4f0071;
    --bs-btn-border-color: #4f0071;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #35014b;
    --bs-btn-hover-border-color: #35014b;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #35014b;
    --bs-btn-active-border-color: #35014b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #4f0071;
    --bs-btn-disabled-border-color: #4f0071;
    border-radius: 0px;
}










.olcd-section {
  background: #fff;
}

/* Top text */
.section-text {
  max-width: 850px;
  margin: 0 auto;
  font-size: 32px;
  color: #000;
  text-align: center;
}

.section-underline {
  width: 60px;
  height: 5px;
  background: #6a0dad;
  margin: 12px auto 0;
}

/* Cards */
.info-card {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

.info-card img {
  width: 330px;
  height: 496px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.info-card:hover img {
    transform: scale(1.12);        /* zoom level */
}

.card-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.2));
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-overlay h5 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
  min-height: 48px;
}

.card-overlay p {
  font-size: 14px;
  margin: 0;
  line-height: 1.4;
  text-align: center;
  font-weight: lighter;
  min-height: 60px;
  font-weight: 200;
}

.first {
    font-weight: 400;
    display: block;
}

.second {
    font-weight: 900;
    display: block;
}






.about-section {
padding: 80px 0;
position: relative;
overflow: hidden;
min-height: 500px;
}

/* BACKGROUND TRANSPARENT HEX PATTERN */
.about-section::before {
content: "";
position: absolute;
top: 0;
right: 0;
width: 100%;
height: 100%;
display: block;
background-image: url('../images/bg.png');
background-position: left center right;
background-size: contain;
opacity: 1;
z-index: 0;
}

.about-sub {
color: #7b2cbf;
margin-bottom: 10px;
font-size: 24px;
font-weight: 900;
text-align: start;
}

.about-title {
font-size: 56px;
font-weight: 700;
letter-spacing: 2px;
color: #1f1f1f;
line-height: 1.2;
}

.about-text {
font-size: 16px;
color: #555;
margin-top: 20px;
line-height: 1.7;
font-weight: 400;
text-align: start;
}

.btn-purple {
background-color: #6a1b9a;
color: #fff;
padding: 10px 46px;
font-size: 16px;
margin-top: 25px;
display: inline-block;
text-decoration: none;
font-weight: 600;
}

/* RIGHT SIDE COMPLETE HEX IMAGE */
.hex-main-wrapper {
position: relative;
z-index: 1;
display: flex;
justify-content: center;
align-items: center;
}

.hex-main-image {
width: 744px;
height: 564px;
max-width: 100%;
}

@media (max-width: 991px) {
.about-title {
font-size: 32px;
}
.about-section::before {
width: 100%;
opacity: 0.08;
}
.hex-main-wrapper {
margin-top: 40px;
}
}









/* SECTION */
.courses-section {
    padding: 40px 0;
}

/* LEFT PANEL */
.left-panel {
    background: #5a007a;
    padding: 125px 40px;
    min-height: 500px;
    width: 322px;
}

.left-panel h2 {
    font-size: 42px;
    font-weight: 700;
    text-align: end;
}

.yellow-line {
    width: 70px;
    height: 4px;
    background: #ffc107;
    margin: 15px 165px 30px;

}

.left-panel p {
    font-size: 15px;
    line-height: 1.7;
}

.arrow-btns {
    margin-top: 40px;
    display: flex;
    margin-left: 125px;
}

.arrow-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 12px;
}

.arrow-img img {
    width: 50px;
    height: auto;
}

.arrow-img.yellow {
    background: #ffc107;

}

.arrow-img:hover {
    transform: scale(1.05);
}

/* COURSE CARD */
.course-card {
    position: relative;
    height: 500px;
    width: auto;
    overflow: hidden;
    margin-top: 20px;
}

.course-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.course-card:hover img {
    transform: scale(1.12);        /* zoom level */
}

.image-badge {
    top: 10px;
    right: 10px;
    background: #c5c0c0;
    color: #4b0082;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    position: absolute;
}

/* OVERLAY */
.cards-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.7));
    color: #fff;
    height: 285px;
}

.cards-overlay h5 {
    font-size: 20px;
    margin: 25px 0;
    text-align: left;
}

.mode {
    font-size: 14px;
    opacity: 0.8;
    font-weight: 200;
}

/* BADGE */
.badge {
    background: #2b2929;
    padding: 5px 16px;
    border-radius: 5px;
    font-size: 11px;
    border: 1px solid rgb(158, 145, 145);
    margin: auto;
    margin-top: 25px;
    margin-left: 0px;
}

/* CARD BOTTOM */
.price {
    font-weight: 500;
}

.rating {
    color: #9f7d17;
    font-size: 20px;
}

.divider {
    border-top: 1px solid rgba(255,255,255,0.3);
    margin: 5px 0;
}

.number {
    font-weight: 200;
}

/* BUTTON */
.see-more-btn {
    background: #5b0078;
    color: #fff;
    padding: 10px 50px;
    border: none;
}










.news-section {
background: #f3e9f9;
padding: 30px;
}

.news-title {
font-size: 32px;
font-weight: 600;
color: #5a0a8a;
margin-bottom: 15px;
}

.news-divider {
border-top: 1.5px solid gray;
margin-top: -5px;
margin-bottom: 50px;    
}

.news-card {
overflow: hidden;
}

.news-card img {
width: 339px;
height: 175px;
object-fit: cover;
transition: transform 0.5s ease;
}

.news-card:hover img {
transform: scale(1.12);        /* zoom level */
}

.news-card h6 {
font-weight: 600;
margin-top: 10px;
font-size: 18px;
}

.news-card small {
color: #777;
font-size: 10px;
}

.news-card p {
font-size: 14px;
color: #444;
font-size: 14px;
text-align: left;
}

/* Center highlighted card */
.featured-news {
background: #6a1b9a;
color: #fff;
padding: 1px;
height: 460px;
width: 429px;
margin-left: 120px;
overflow: hidden;
}

.featured-news img {
width: 429px;
height: 180px;
transition: transform 0.5s ease;
}

.featured-news:hover img {
transform: scale(1.12);        /* zoom level */
}

.featured-news h5 {
font-weight: 600;
font-size: 16px;
padding-left: 10px;
}

.featured-news small {
padding-left: 10px;
}

.featured-news p {
font-size: 14px;
margin-top: 10px;
text-align: left;
font-weight: 200;
padding-left: 10px;
}

.styled-link {
display: inline-flex;
padding: 16px 80px 16px 96px;
color: #000;
font-weight: 500;
text-decoration: none;
border-radius: 2px;
justify-content: center;
align-items: center;
border-bottom: 3px solid #deb04c;
font-size: 18px;
width: 100%;
margin-top: 60px;
}

.styled-link:hover {
border-color: #deb04c;
box-shadow: 0 4px 10.5px -1px rgba(0, 0, 0, 0.25);
}



















.section-title {
color: #5a007a;
font-size: 32px;
font-weight: 400;
line-height: 1.3;
}

.section-para {
font-size: 18px;
color: rgba(0, 0, 0, 0.90);
text-align: left;
font-weight: 400;            
}

.trainer-scroll {
height: 715px;
overflow: hidden;
position: relative;
}

.trainer-list {
 overflow-y: scroll;
height: 100%;
scroll-behavior: smooth;
padding-right: 15px;
scrollbar-width: none;
-ms-overflow-style: none;
}

.trainer-list::-webkit-scrollbar {
display: none; /* Chrome, Safari */
}

.trainer-card {
display: flex;
gap: 20px;
margin-bottom: 40px;
overflow: hidden;
}

.trainer-card img {
 width: 210px;
height: 210px;
object-fit: cover;
border-top: 3px solid #f5a623;
transition: transform 0.5s ease;
}

.trainer-card:hover img {
transform: scale(1.12);        /* zoom level */
}

.trainer-name {
color: #5a007a;
font-weight: 700;
font-size: 24px;
text-align: left;
}

.trainer-role {
color: #5a007a;
font-size: 14px;
text-align: left;
margin-bottom: 8px;
}

.trainer-desc {
font-size: 16px;
text-align: left;
color: #333;
}

.scroll-arrows img {
width: 44px;
cursor: pointer;
margin-top: 50px;
}

.meet-btn {
background: #5a007a;
color: #fff;
padding: 10px 45px;
border: none;
margin-top: 20px;
font-size: 16px;
font-weight: 600;
}

.meet-btn:hover {
background: #6e0a96;
}






