@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}
.bg-primary {
  background-color: #4f0071 !important;
}

.nav-brand img {
  width: 140px;
  position: absolute;
  z-index: 100;
}
.nav-search {
  padding: 10px 10px;
  display: flex;
  background: #4f0071;
  color: #fff;
}
.right-brand img {
  margin-left: 5px;
}
.right-brand span {
  font-weight: 600;
}
.right-brand .logo-icon {
  width: 150px;
}
.border-cs {
  border-top: solid 1px #4f0071;
}
.hero .secondary-menu {
  z-index: 200;
  right: 18%;
  top: -5%;
}

/* Carousel */
.carousel-control-next img,
.carousel-control-prev img {
  width: 30%;
}
.carousel-caption {
  text-align: center;
  top: 45%;
  z-index: 100;
  margin-right: 30%;
}
.carousel-caption h5,
.carousel-caption p {
  color: #fff;
  text-align: right;
}
.carousel-caption h5 {
  font-size: 50px;
  font-weight: 500;
}
.carousel-caption p {
  font-size: 14px;
  font-weight: 400;
}
.carousel-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center top;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  );
  z-index: 1;
}
.carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 0 6px;
}
.carousel-indicators .active {
  opacity: 1;
  background-color: #ff7a00;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: rgb(137, 100, 33);
  width: 15px;
  height: 15px;
}
.btn {
  padding: 3px 40px;
  margin-left: 100px;
}
.underline-btn {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  padding-bottom: 6px;
}
.underline-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200px; /* underline length */
  height: 2px;
  background-color: #f5c400;
  margin-left: -50px;
}
